body {
    background-color: #e0e0e0;
}

.apartat {
    border: 1px solid black;
    padding: 5px;
}

.list {
    display: inline-flex;
    background-color: white;
    height: 15rem;
    width: 7.75rem;
    flex-flow: column;
    overflow-y: auto;
}

.vertical {
    display: inline-flex;
    flex-flow: column;
}

.horari {
    margin: 10px;
    display: grid;

    grid-template-columns: repeat(6, 6fr);
    grid-template-rows: repeat(14, max-content);
}

.hora {
    display: inline-flex;
    flex-flow: column;
    background-color: white;
    border: 1px solid black;
    min-height: 18px;
}

.grup {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#assig_selection {
    display: inline-flex;
    align-items: center;
}

#horari_list {
    display: flex;
    flex-direction: column;
}

#assig_list > .active {
    background-color: steelblue;
}

#opt_list > .active {
    background-color: palegreen;
}
